config PROTOCOL_LOG_LEVEL
    int "protocol log level"
    default 0 if PROTOCOL_LOG_LEVEL_OFF
    default 1 if PROTOCOL_LOG_LEVEL_ERR
    default 2 if PROTOCOL_LOG_LEVEL_WRN
    default 3 if PROTOCOL_LOG_LEVEL_INF
    default 4 if PROTOCOL_LOG_LEVEL_DBG
    default 2
    depends on LOG