menu "Zephyr"
source "Kconfig.zephyr"
endmenu

rsource "../common/Kconfig"

config APP_MAIN_LOG_LEVEL
    int "app main log level"
    default 2
    depends on LOG

config APP_DISPLAY_LOG_LEVEL
    int "app display log level"
    default 2
    depends on LOG

config APP_COM_LOG_LEVEL
    int "app communication log level"
    default 2
    depends on LOG
