/dts-v1/;

#include <st/u5/stm32u575Xi.dtsi>
#include <st/u5/stm32u575zitxq-pinctrl.dtsi>
#include "fjalar.dtsi"

/ {

    model = "Aesir Fjalar flight controller";
	compatible = "aesir,fjalar";

	#address-cells = <1>;
	#size-cells = <1>;

	chosen {
		zephyr,console = &uart4;
		zephyr,shell-uart = &uart4;
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
		zephyr,canbus = &fdcan1;
	};

    aliases {
		led0 = &ioled;
		external-uart = &uart4;
		data-flash = &w25q128;
		gps-uart = &usart1;
		buzzer = &buzzer;
		lora = &lora;

	};

	zephyr,user {
		battery-denominator = <2200>;
		battery-numerator = <12200>;
		io-channels = <&adc1 15>;
	};

	pwmleds: pwmleds {
		compatible = "pwm-leds";
		status = "okay";

		buzzer: buzzer {
			pwms = <&pwm2 4 PWM_MSEC(20) PWM_POLARITY_NORMAL>;
		};
	};
};

&i2c1 {
	lsm6dso32: lsm6dso32@6a {
		status = "okay";
		compatible = "st,lsm6dso32", "st,lsm6dso";
		reg = <0x6a>;
	};

	ms5611: ms5611@77 {
		status = "okay";
		compatible = "meas,ms5611";
		reg = <0x77>;
	};
};

&spi1 {
	lora: lora@0 {
		compatible ="semtech,sx1276";
		reg = <0>;
		spi-max-frequency = <10000000>;
		status = "okay";
		reset-gpios = <&gpioc 14 GPIO_ACTIVE_LOW>;
		dio-gpios = <&gpioc 15 GPIO_ACTIVE_HIGH>;
		power-amplifier-output = "pa-boost";
	};

	w25q128: w25q128@1 {
		compatible ="jedec,spi-nor";
		size = <0x8000000>;
		reg = <1>;
		spi-max-frequency = <50000000>;
		status = "okay";
		jedec-id = [ef 70 18];
	};
};

&adc1 {
	#address-cells = <1>;
	#size-cells = <0>;
	status = "okay";
	st,adc-prescaler = <1>;

	channel@F {
		reg = <15>; //15
		zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		zephyr,resolution = <14>;
		zephyr,oversampling = <4>;
		status = "okay";
	};
};