menu "Zephyr"
source "Kconfig.zephyr"
endmenu

config APP_ACTUATION_LOG_LEVEL
    int "Application log level"
    default 2
    depends on LOG

config APP_FILTER_LOG_LEVEL
    int "Application filter log level"
    default 2
    depends on LOG

config APP_FLIGHT_LOG_LEVEL
    int "Application flight state log level"
    default 2
    depends on LOG

config APP_MAIN_LOG_LEVEL
    int "Application filter log level"
    default 2
    depends on LOG

config APP_PROTOCOL_LOG_LEVEL
    int "Application filter log level"
    default 2
    depends on LOG

config APP_SENSORS_LOG_LEVEL
    int "Application filter log level"
    default 2
    depends on LOG

config APP_TELECOMMAND_LOG_LEVEL
    int "Application filter log level"
    default 2
    depends on LOG

config APP_TELEMETRY_LOG_LEVEL
    int "Application filter log level"
    default 2
    depends on LOG
