menu "Zephyr"
source "Kconfig.zephyr"
endmenu

rsource "../common/Kconfig"


config BUZZER_ENABLED
    bool "Enable buzzer"
    default y
config DELAYED_START
    bool "delay start"
    default n

choice
	prompt "Boot state"
	config BOOT_STATE_IDLE
		bool "boot to idle"
	config BOOT_STATE_LAUNCHPAD
		bool "boot to launchpad"
endchoice

config APP_ACTUATION_LOG_LEVEL
    int "Application log level"
    default 2
    depends on LOG

config APP_FILTER_LOG_LEVEL
    int "Application filter log level"
    default 2
    depends on LOG

config APP_FLIGHT_LOG_LEVEL
    int "Application flight state log level"
    default 2
    depends on LOG

config APP_MAIN_LOG_LEVEL
    int "Application filter log level"
    default 2
    depends on LOG
config APP_SENSORS_LOG_LEVEL
    int "Application filter log level"
    default 2
    depends on LOG
config APP_COMMANDS_LOG_LEVEL
    int "Application filter log level"
    default 2
    depends on LOG
config APP_COMMUNICATION_LOG_LEVEL
    int "Application filter log level"
    default 2
    depends on LOG


# config USB_CDC_ACM_LOG_LEVEL
#     int
#     default 0 if USB_CDC_ACM_LOG_LEVEL_OFF
#     default 1 if USB_CDC_ACM_LOG_LEVEL_ERR
#     default 2 if USB_CDC_ACM_LOG_LEVEL_WRN
#     default 3 if USB_CDC_ACM_LOG_LEVEL_INF
#     default 4 if USB_CDC_ACM_LOG_LEVEL_DBG
#     depends on LOG