menu "Zephyr"
source "Kconfig.zephyr"
endmenu

rsource "../common/Kconfig"


config BUZZER_ENABLED
    bool "Enable buzzer"
    default y
config DELAYED_START
    bool "delay start"
    default n

choice
	prompt "Boot state"
	config BOOT_STATE_IDLE
		bool "boot to idle"
	config BOOT_STATE_LAUNCHPAD
		bool "boot to launchpad"
endchoice

config APP_SENSORS_LOG_LEVEL
    int "Application sensors log level"
    default 0 if APP_SENSORS_LOG_LEVEL_OFF
    default 1 if APP_SENSORS_LOG_LEVEL_ERR
    default 2 if APP_SENSORS_LOG_LEVEL_WRN
    default 3 if APP_SENSORS_LOG_LEVEL_INF
    default 4 if APP_SENSORS_LOG_LEVEL_DBG
    default 2
    depends on LOG

config APP_ACTUATION_LOG_LEVEL
    int "Application filter log level"
    default 0 if APP_ACTUATION_LOG_LEVEL_OFF
    default 1 if APP_ACTUATION_LOG_LEVEL_ERR
    default 2 if APP_ACTUATION_LOG_LEVEL_WRN
    default 3 if APP_ACTUATION_LOG_LEVEL_INF
    default 4 if APP_ACTUATION_LOG_LEVEL_DBG
    default 2
    depends on LOG

config APP_FILTER_LOG_LEVEL
    int "Application filter log level"
    default 0 if APP_FILTER_LOG_LEVEL_OFF
    default 1 if APP_FILTER_LOG_LEVEL_ERR
    default 2 if APP_FILTER_LOG_LEVEL_WRN
    default 3 if APP_FILTER_LOG_LEVEL_INF
    default 4 if APP_FILTER_LOG_LEVEL_DBG
    default 2
    depends on LOG

config APP_FLIGHT_LOG_LEVEL
    int "Application flight state log level"
    default 0 if APP_FLIGHT_LOG_LEVEL_OFF
    default 1 if APP_FLIGHT_LOG_LEVEL_ERR
    default 2 if APP_FLIGHT_LOG_LEVEL_WRN
    default 3 if APP_FLIGHT_LOG_LEVEL_INF
    default 4 if APP_FLIGHT_LOG_LEVEL_DBG
    default 2
    depends on LOG

config APP_MAIN_LOG_LEVEL
    int "Application main log level"
    default 0 if APP_MAIN_LOG_LEVEL_OFF
    default 1 if APP_MAIN_LOG_LEVEL_ERR
    default 2 if APP_MAIN_LOG_LEVEL_WRN
    default 3 if APP_MAIN_LOG_LEVEL_INF
    default 4 if APP_MAIN_LOG_LEVEL_DBG
    default 2
    depends on LOG


config APP_COMMANDS_LOG_LEVEL
    int "Application commands log level"
    default 0 if APP_COMMANDS_LOG_LEVEL_OFF
    default 1 if APP_COMMANDS_LOG_LEVEL_ERR
    default 2 if APP_COMMANDS_LOG_LEVEL_WRN
    default 3 if APP_COMMANDS_LOG_LEVEL_INF
    default 4 if APP_COMMANDS_LOG_LEVEL_DBG
    default 2
    depends on LOG


config APP_COMMUNICATION_LOG_LEVEL
    int "Application communication log level"
    default 0 if APP_COMMUNICATION_LOG_LEVEL_OFF
    default 1 if APP_COMMUNICATION_LOG_LEVEL_ERR
    default 2 if APP_COMMUNICATION_LOG_LEVEL_WRN
    default 3 if APP_COMMUNICATION_LOG_LEVEL_INF
    default 4 if APP_COMMUNICATION_LOG_LEVEL_DBG
    default 2
    depends on LOG